.slider-wrapper {
  width: 780px;
  height: 590px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1599px){
  .slider-wrapper {
    padding-top: 60px;
    position: relative;
    width: 100%;
    height: 100%;
  }
}