.popup {
  display: none;
}

.list:hover .popup {
  display: block;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 70px;
  z-index: 99;
}

.border-line {
  display: none;
}

.list:hover ~ .border-line {
  display: block;
  margin: 0;
  position: absolute;
  width: 100vw;
  top:  70px;
  left: -570px;
  border-top: 1px solid #FEC110;
}